<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>email-us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="email-us" class="mt-5 mb-5 m-3 ">
    <div class="m-2 email-us rounded shadow-sm">
        <div class="d-flex justify-content-center">
            <div class="w-50 d-flex justify-content-center">
                <div class="mt-4 mb-4 d-flex flex-column">
                    <h3 class="text-center">You can't find all the information you need about the application?</h3>
                    <p class="text-center mt-2 mb-2">No problem! Just email us, we answer in 24h!</p>
                    <div class="d-flex justify-content-center">
                        <a class="fs-4 fw-bold btn btn-warning shadow-sm mt-2 mb-2" th:ref="">Email us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>